/*サイト全体の*/

.contener {
    position: absolute;
    left: 50%;
    height: 100%;
    width: 680px;
    margin-left: -340px; 
    text-align: center;
}

.makebtn{
    width:60%;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    background-color: #5588ff;
    font-size: 200%;
    margin: 20px;
    margin-left:20%;
    border-radius: 20px;
    display: block;
}

.makebtnlink{
    position: relative;
    top:20%;
    color: #333399;
    text-decoration: none;
}

#a_canvas{
}
