/*サイト全体の*/

.contener {
    position: absolute;
    left: 50%;
    height: 100%;
    width: 680px;
    margin-left: -340px; 
    text-align: center;
}

.makebtn{
    width:100%;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    background-color: #5588ff;
    font-size: 200%;
    margin: 20px;
    border-radius: 20px;
}

.makebtnlink{
    position: relative;
    top:20%;
    color: #333399;
    text-decoration: none;
}

#a_canvas{
}




.container-fluid{
    background-color: #999999;
}

.contents{
    width : 680px;
    margin: 60px auto;
    background-color: #ffffff;
}

/*make*/
.smallform{
    width:70px;
    display: inline-block;
    display: inline;
}

.middleform{
    width:200px;
    display: inline-block;
    display: inline;
}

#addbtn{
    margin-top:20px; 
}

.fileUpBtn{
    border: solid 1px #999999;
    text-align: center;
}

/*post*/

#reload_button,#img_button {
    color:#ffffff;
    background-color:#ff7700;
    box-shadow: none;
    display: inline-block;
    text-align:center;
    vertical-align: middle;
    width:87%;
    padding: 10px;
    margin:5px 10px;
}

a.share-button {
    color:#ffffff;
    box-shadow: none;
    display: inline-block;
    text-align:center;
    vertical-align: middle;
    width:40%;
    padding: 10px 5px;
    margin:5px 5px;
}

canvas {
    width :500px;
    height: auto;
    margin:0 auto;
    max-width: 100%;
    max-height: auto;
    background-color:white;
}

img.#generated {
    width :500px;
    height: auto;
    max-width: 100%;
}

form {
    margin: 30px 30px;
}

#wrapper{
    text-align:center;
    width: 920px;
    max-width: 100%;
    margin: 30px auto 0 auto;
}